In [1]:
import pandas

In [4]:
#this is how you get pandas to read a csv file
tweets = pandas.read_csv("blm.csv")

In [7]:
# get one column from tweets
tweets['User Name']

pandas.core.frame.DataFrame

In [8]:
# get one row from tweets
tweets[0:1]

In [9]:
# get 2 columns from tweets

In [10]:
# get 2 rows from tweets
tweets[0:2]

In [11]:
# get a column by column name

In [12]:
# get a column by number index

In [13]:
# get a row by index

In [14]:
# get only rows that have more than 10 `Number of Retweets` (subsetting)

In [16]:
# get only rows that are RTs (subsetting)

In [20]:
tweets.columns

Index(['Tweet Text', 'Number of Retweets', 'User Name', 'Number of Favorites', 'Location of User', 'Date/Time of Tweet', 'Hashtags in Tweet'], dtype='object')

In [31]:
tweets[tweets['Number of Retweets'] > 2000]

,Tweet Text,Number of Retweets,User Name,Number of Favorites,Location of User,Date/Time of Tweet,Hashtags in Tweet
5,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,Johnny Fernandes,0,NaN,Mon Apr 06 02:15:53 +0000 2015,#BlackLivesMatter
43,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,JayTheGreat,0,NaN,Mon Apr 06 02:09:20 +0000 2015,#BlackLivesMatter
50,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,King Em ♔,0,NaN,Mon Apr 06 02:08:25 +0000 2015,#BlackLivesMatter
52,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,J-Nich,0,Skips Palace (The Trap),Mon Apr 06 02:08:19 +0000 2015,#BlackLivesMatter
56,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,♨️G.$αv♨️,0,NaN,Mon Apr 06 02:07:43 +0000 2015,#BlackLivesMatter
63,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,N. Hines,0,NaN,Mon Apr 06 02:05:04 +0000 2015,#BlackLivesMatter
71,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,Xavier Graves,0,Somewhere in outer space.,Mon Apr 06 02:03:51 +0000 2015,#BlackLivesMatter
88,"RT @agau23: Chris Paul, 29 yrs old, UNARMED #B...",2151,SA®FO,0,NaN,Mon Apr 06 01:59:06 +0000 2015,#BlackLivesMatter

In [27]:
tweets.loc[0:1,['Tweet Text','User Name']]

                                          Tweet Text      User Name
0  #ResurrectionSunday2015 with Phyllis Brown #Bl...       Msunq365
1  RT @NakedTruthMedia: The media calls black rio...  Stan Siegwald

In [28]:
tweets.iloc[3]

Tweet Text             RT @Jason_Pollock: This meme pretty much sums ...
Number of Retweets                                                     3
User Name                                                   minefield101
Number of Favorites                                                    0
Location of User                                                     NaN
Date/Time of Tweet                        Mon Apr 06 02:16:14 +0000 2015
Hashtags in Tweet                                     #BlackLivesMatter
Name: 3, dtype: object